.App{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding-top: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

.title_style{
    color: lightgoldenrodyellow;
    font: normal 50px Varela Round, sans-serif;
    height: 150px;
    left: 0;
    letter-spacing: 5px;
    margin: -80px 0 0 0;
    padding-top: 10rem;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    width: 100%;
    animation: move linear 2000ms infinite;  
  }
      
@keyframes move {
    0% {
    text-shadow:
    4px -4px 0 hsla(0, 100%, 50%, 1), 
    3px -3px 0 hsla(0, 100%, 50%, 1), 
    2px -2px 0 hsla(0, 100%, 50%, 1), 
    1px -1px 0 hsla(0, 100%, 50%, 1),
   -4px 4px 0 hsla(180, 100%, 50%, 1), 
   -3px 3px 0 hsla(180, 100%, 50%, 1), 
   -2px 2px 0 hsla(180, 100%, 50%, 1), 
   -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
    25% {    
    text-shadow:      
    -4px -4px 0 hsla(180, 100%, 50%, 1), 
    -3px -3px 0 hsla(180, 100%, 50%, 1), 
    -2px -2px 0 hsla(180, 100%, 50%, 1), 
    -1px -1px 0 hsla(180, 100%, 50%, 1),
    4px 4px 0 hsla(0, 100%, 50%, 1), 
    3px 3px 0 hsla(0, 100%, 50%, 1), 
    2px 2px 0 hsla(0, 100%, 50%, 1), 
    1px 1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
    50% {
    text-shadow:
    -4px 4px 0 hsla(0, 100%, 50%, 1), 
    -3px 3px 0 hsla(0, 100%, 50%, 1), 
    -2px 2px 0 hsla(0, 100%, 50%, 1), 
    -1px 1px 0 hsla(0, 100%, 50%, 1),
    4px -4px 0 hsla(180, 100%, 50%, 1), 
    3px -3px 0 hsla(180, 100%, 50%, 1), 
    2px -2px 0 hsla(180, 100%, 50%, 1), 
    1px -1px 0 hsla(180, 100%, 50%, 1)
    ;
  }
    75% {
    text-shadow:
    4px 4px 0 hsla(180, 100%, 50%, 1), 
    3px 3px 0 hsla(180, 100%, 50%, 1), 
    2px 2px 0 hsla(180, 100%, 50%, 1), 
    1px 1px 0 hsla(180, 100%, 50%, 1),
    -4px -4px 0 hsla(0, 100%, 50%, 1), 
    -3px -3px 0 hsla(0, 100%, 50%, 1), 
    -2px -2px 0 hsla(0, 100%, 50%, 1), 
    -1px -1px 0 hsla(0, 100%, 50%, 1)      
    ;
  }
    100% {
    text-shadow:
    4px -4px 0 hsla(0, 100%, 50%, 1), 
    3px -3px 0 hsla(0, 100%, 50%, 1), 
    2px -2px 0 hsla(0, 100%, 50%, 1), 
    1px -1px 0 hsla(0, 100%, 50%, 1),
    -4px 4px 0 hsla(180, 100%, 50%, 1), 
    -3px 3px 0 hsla(180, 100%, 50%, 1), 
    -2px 2px 0 hsla(180, 100%, 50%, 1), 
    -1px 1px 0 hsla(180, 100%, 50%, 1)
    ;
    }  
  }

.btn_style{
    background-color: blueviolet;
    color: beige;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 3em;
    margin-right: auto;
    margin-left: auto;
  }

.btn_style:hover{
    background-color: lightcyan;
    color: black;
  }

.btn_style:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.btn_style:active{
    background-color: lightseagreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.phrase_style{
    text-align: center;
    padding: 3em 5em 3em;
    background-color: lightcyan;
    border-radius: 20px 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: gray;
    gap: 3em;
    box-shadow: 5px 5px 40px;
    margin: 2rem 1rem;
    overflow: hidden;
    position: relative;
    max-width: 500px;
  }

.com_style{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
  }


